html {
  min-height: 100vh;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 0;
}

.create-project-form-container{
  margin: 50px;
  margin-top: 30px;
}

.create-project-form{
  z-index: 1;
}

.bank-info-container{
  margin-top: 20px;
}

.header-div{
  margin-bottom: 30px;
  text-align: center;
}

.form-subheader{
  margin: 0;
}
.form-two-container{
  width: 100%;
}
.moving-button-div{
  display: inline;
}

.single-reward-form-container{
  border: 1px solid rgba(0,0,0,0.12);
  margin-top: 2px;
}

.remove-reward-button{
  float: right;
}