html {
  min-height: 100vh;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 0;
}

.dz-container{
  max-width: 1280px;
  margin:0 auto;
}

/* .form-part-one-container{
  border: 2px solid gray;
} */

.dz{
  border: 2px dashed lightskyblue !important;
  font-size: 18px;
  color: lightskyblue;
}

.preview-container{
  display: flex;
}

.dz-progress{
  display: none !important;
}

.dz-remove{
  text-decoration: none;
  color: white;
  background-color: lightskyblue;
  border-radius: 4px;
  margin-top:4px;
}
.dz-remove:hover{
  text-decoration: none !important;
}

.dz-filename:hover{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.icon-div{
  cursor: pointer !important;
}

.upload-icon{
  cursor: pointer !important;
}

.create-project-form-container{
  margin: 50px;
  margin-top: 30px;
}

.create-project-form{
  z-index: 1;
}

.bank-info-container{
  margin-top: 20px;
}

.header-div{
  margin-bottom: 30px;
  text-align: center;
}

.form-subheader{
  margin: 0;
}
.form-two-container{
  width: 100%;
}
.moving-button-div{
  display: inline;
}

.single-reward-form-container{
  border: 1px solid rgba(0,0,0,0.12);
  margin-top: 2px;
}

.remove-reward-button{
  float: right;
}