.row {
  margin: 0
}
.icons {
  margin-left: auto
}

.header-container{
	margin-bottom: 10px;
}

.all-dialog{
	max-width: 490px;
}

.payment-details span {
  color: rgb(179, 179, 179)
}

.payment-details {
  padding: 2vh 0
}

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
	color: transparent
}

.header {
	font-size: 1.5rem;
}

.left {
	background-color: #ffffff;
	padding: 2vh 5vh
}

.left img {
	width: 2rem
}

.left .col-4 {
	padding-left: 0
}
.input-container{
	margin-bottom: 10px;
}
.input-content{
	margin-top: 2px;
}

.input-content.ng-touched.ng-invalid{
	border: 2px solid red;
}

#cvv {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: center
}

.progress-container{
	height: 362px;
	width: 490px;
}

.req-completed-div{
	margin-top: 20px;
	height: 120px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.req-completed-img{
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%
}

.progress-circel{
	margin-top: 20px;
}

.sending-transaction-text{
	margin-top: 25px;
	color: rgb(63,81,181);
}
