.project-image{
    width: 100%;
    height: 100%;
    vertical-align: center;
    object-fit: fill;
}
.all-projects-container{
    max-width: 1280px;
    margin: 0 auto; 

}
.header-div{
    margin-bottom: 30px;
    text-align: center;
}
.project-card{
    cursor: pointer;
    overflow: hidden;
    height: 457px;
}


.project-image-div{
    width: 100%;
    height: 175px;
    overflow: hidden;

}
.project-description-container{
    overflow: hidden;
}
.fa-heart{
    color: red;
}

.fa-money-bill-alt{
    color: #0E7A2D;
}
 
.fa-comment{
    color: #158caa;
}