.project-image{
    max-width: 100%;
    vertical-align: center;
}
.all-projects-container{
    width: 1280px;
    margin: 0 auto;

}
.header-div{
    margin-bottom: 30px;
    text-align: center;
}
.project-card{
    cursor: pointer;
    overflow: hidden;
    height: 457px;
}


.project-image-div{
    width: 100%;
    height: 175px;
    overflow: hidden;

}
.project-description-container{
    overflow: hidden;
}