.project-image{
    max-width: 100%;
}
.all-projects-container{
    margin: 10px;
}
.header-div{
    margin-bottom: 30px;
    text-align: center;
}
/* .project-image-div{
    display: flex;
    align-content: center;
} */