.display-project-container{
    max-width: 1280px;
    margin: 10px auto 20px auto;
}

.project-image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.project-image{
    width: 100%;
    height: 100%;
}



.project-reward-card{
    height: 222px;
    border: 2px solid lightskyblue;
    border-radius: 3px;
    margin:0;
    transition: 200ms;
}

.project-reward-amount{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: rgb(58, 136, 238);
    font-size:50px;
}

.project-reward-amount p{
    margin-right: 5px;
}

.project-reward-title{
    font-size: 30px;
    display: flex;
    align-items: center;
}
.project-reward-title p{
    margin-left: 5px;
}

.project-rewards-container{
    height: 100%;
}
.project-reward-card-padding{
    padding: 5px;
}
.project-reward-description p{
    margin-left: 5px;
    white-space: pre-wrap;
}

.project-reward-card:hover{
    cursor: pointer;
    background-color:rgb(58, 136, 238);
    border:2px solid rgb(58, 136, 238);
    color: white;
    transition: 200ms;
}

.project-reward-card:hover .project-reward-amount{
    color:white;

}

body {
    height: 100%;
    background-color: rgb(250,250,250) !important;
}

.before-sec{
    z-index: 0;
}

.after-sec{
    z-index: 1;
}