<div class="navbar-container">
  <div class="image-div" ng-click="moveToMyUser(Uid)">
    <img class="user-image" alt="user_img" ng-src="../images/redhot.jpg">
  </div><!--
  --><div class="wrap brdr" ng-click="moveToMyUser(Uid)"><a class="navbar-button-profile navbar-button-general">my profile</a></div><!--
  --><div class="wrap brdr"><a href="/homepage" class="navbar-button-search navbar-button-general">home</a></div><!--
  --><div class="wrap brdr">
      <div class="dropdown-projects">
        <button class="dropdown-button ">projects</button>
        <div class="abosoluteDiv">
          <ul class="dropdown-projects-content">
            <li><a ng-click="moveToMyProjects()">my projects</a></li>
            <li><a ng-click="moveToLikedProjects()">liked projects</a></li>
            <li><a ng-click="moveToSupportedProjects()">my investments</a></li>
          </ul>
        </div>
      </div>
    </div>
  <a class="navbar-button-create navbar-button-general" href="/addproject">add project</a>
</div>