<div>
  <img class="user-image" alt="user_img">
  <a class="navbar-button">my profile</a>
  <div class="dropdown-projects">
    <button>projects</button>
    <div class="dropdown-projects-content">
      <a href="/myprojects" class="project-dropdown-item">my projects</a>
      <a href="/mycategories" class="project-dropdown-item">my categories</a>
      <a href="/allprojects" class="project-dropdown-item">all projects</a>
      <a href="/myinvestments" class="project-dropdown-item">my investments</a>
    </div>
  </div>
  <a class="navbar-button-search">search</a>
  <a class="navbar-button-create">add new projects</a>
</div>