<!DOCTYPE html>
<html lang="en" ng-app="AddProjectApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/addProject.css"> -->
  <script src="/bundles/addProject.js"></script>
  <!-- <script src="/vendors/angular.min.js"></script>
  <script src="/apps/addProject/addProjectApp.js"></script>
  <script src="/apps/addProject/addProjectModule.js"></script>
  <script src="/apps/navbar/navbar.js"></script>
  <script src="/vendors/angular-material.min.js"></script>
  <script src="/vendors/angular-animate.min.js"></script>
  <script src="/vendors/angular-aria.min.js"></script>
  <script src="/vendors/angular-messages.min.js"></script>
  <link rel="stylesheet" href="/vendors/angular-material.min.css"> -->
  <title>Create a Project</title>
</head>

<body ng-controller="AddProjectController" ng-init="categorys=['Software','Food','Sports']">
  <navbar></navbar>
  <div class="header-div">
    <h1 class="main-header">Add Project</h1>
  </div>
  <div class="form-part-one-container">
  <md-content ng-show="!isNext">
    <div class="dz-container">
      <div class="dz dropzone" id="my-awesome-dropzone">
        <div class="icon-div" flex="100" layout="row" layout-align="center center" id="icon-container">
          <i class="fas fa-upload fa-5x upload-icon"></i>
        </div>
      </div>
    </div>
  </md-content>
  <form name="projectForm" class="create-project-form" ng-submit="verifyAndSend(project,rewards,thumbnail)">
    <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage create-project-form-container"
      ng-if="!isNext">
      <md-content layout-padding="">
        <!--  md-theme="docs-dark" -->
        <div layout-padding="">
          <h3 class="form-subheader" ng-click="check()">Project Details</h3>
        </div>
        <md-content layout-gt-sm="row">
          <div flex="100" layout-gt-sm="row">
            <md-input-container flex="40">
              <label>Project Name</label>
              <input ng-model="project.title" name="title" required>
            </md-input-container>

            <md-input-container flex="40">
              <label>Amount to Raise</label>
              <input ng-model="project.amountToRaise" type="number" step="1" name="amountToRaise" required min="1">
            </md-input-container>

            <md-input-container flex="20" style="display: inline-block;">
              <label>Deadline</label>
              <md-datepicker ng-model="project.deadlineDate" aria-label="Enter date" name="deadlineDate" required>
              </md-datepicker>
            </md-input-container>

          </div>
        </md-content>
      </md-content>

      <md-content layout-padding="">
        <div flex="25">
          <label>Category</label>
          <md-select ng-model="project.category" name="category" required>
            <md-option ng-repeat="category in categorys" value="{{category}}">
              {{category}}
            </md-option>
          </md-select>

        </div>

        <md-input-container class="md-block">
          <label>Project Description</label>
          <textarea ng-model="project.projectDescription" md-maxlength="150" rows="4" md-select-on-focus=""
            name="projectDescription" required></textarea>
        </md-input-container>

        <div>
          <h3 class="form-subheader">Banking Details</h3>
        </div>
        <div layout-gt-sm="row" class="bank-info-container">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Bank ID</label>
            <input name="bankID" ng-model="project.bankID" required ng-pattern="/^[0-9]{2}$/" md-maxlength="2">
            <div ng-messages="projectForm.bankID.$error" role="alert">
              <div ng-message="required" class="my-message">You must supply a bank ID.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid bank ID.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Branch ID</label>
            <input name="bankBranchID" ng-model="project.bankBranchID" required="" ng-pattern="/^[0-9]{3}$/"
              md-maxlength="3">
            <div ng-messages="projectForm.bankBranchID.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">You must supply a branch ID.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid branch ID.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <label>Account Number</label>
            <input name="bankAccount" ng-model="project.bankAccount" required="" ng-pattern="/^[0-9]{6}$/"
              md-maxlength="6">
            <div ng-messages="projectForm.bankAccount.$error" role="alert" multiple="">
              <div ng-message="required" class="my-message">You must supply an account number.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid account number.</div>
            </div>
          </md-input-container>
        </div>
        <div>
          <md-button ng-click="switchPage()">Next</md-button>
        </div>
      </md-content>

    </div>

  </div>

    <!--  -->
    <!--  -->

    <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage create-project-form-container"
      ng-if="isNext">
      <div ng-repeat="reward in rewards" class="single-reward-form-container">
        <div id="reward_{{$index}}">
          <md-content layout-padding="">
            <!--  md-theme="docs-dark" -->
            <div flex="100" layout-gt-sm="row">
              <md-input-container flex="50">
                <label>Donation Name</label>
                <input ng-model="reward.rewardTitle">
              </md-input-container>

              <md-input-container flex="50">
                <label>Donation Amount</label>
                <input ng-model="reward.donationAmount" type="number" step="1">
              </md-input-container>
            </div>

            <div>
              <md-input-container>
                <label>Description</label>
                <textarea ng-model="reward.rewardDescription" md-maxlength="150"
                  md-select-on-focus=""></textarea>
              </md-input-container>
            </div>

            <md-button class="md-icon-button remove-reward-button" aria-label="donate"
              ng-click="removeDonationOption(reward)">
              <md-icon md-svg-icon="/images/icons/remove.svg"></md-icon>
            </md-button>

          </md-content>
        </div>
      </div>
      <md-content layout-gt-sm="column">
        <div>
          <div class="moving-button-div">
            <md-button type="button" ng-click="switchPage()">Prev</md-button>
          </div>
          <div class="moving-button-div" id="addRewardButton">
            <md-button type="button" ng-click="addDonationOption()">Add Donation Option</md-button>
          </div>
          <div class="moving-button-div">
            <md-button type="submit" ng-click="printRewards()">Next</md-button>
          </div>
        </div>
      </md-content>

    </div>
  </form>

</body>

</html>