<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/vendors/angular.min.js"></script>
    <script src = "/apps/login/loginApp.js"></script>
    <script src = "/apps/login/loginModule.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
    
    
    
    <title>Login</title>
</head>
<body ng-controller = "LoginController">
    <div class = "auth">
        <div class="auth-header">
            <h1>Login</h1>
        </div>
        <form name = "loginForm" ng-submit="preventIfInvalid($event)" action="/" method="POST" novalidate class="auth-form">
            <h3>Username:</h3>
            <input type="text" placeholder="Username" ng-model="login.username" name="username" ng-required="true" ng-pattern="/^(?![0-9]{6})[0-9a-zA-Z]{6,8}$/" />
            <div ng-if="loginForm.input_username.$touched && loginForm.input_username.$invalid" style="margin-bottom: 5px;">
                <small style="color: red; display: block;">{{msg_invalid_user}}</small>
            </div>
            <h3>Password:</h3>
            <input type="password" placeholder="Password" ng-model="login.password" name="password" ng-required="true" ng-pattern="/^(?![0-9]{6})[0-9a-zA-Z]{8,12}$/" />
            <div ng-if="loginForm.input_password.$touched && loginForm.input_password.$invalid" style="margin-bottom: 5px;">
                <small style="color: red; display: block; ">{{msg_invalid_password}}</small>
            </div>
            <input type="submit" value="Login" />
            <p>Don't have an account? <a href="/signup" class="auth-switch-form">sign up here</a></p>
        </form>
    </div>
   

</body>
</html>