<!DOCTYPE html>
<html lang="en" ng-app="SignUpApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/bundles/signUp.js"></script>
    <!-- <script src = "/apps/signUp/signUpApp.js"></script>
    <script src = "/apps/signUp/signUpModule.js"></script>
    <link rel="stylesheet" href="/css/login_and_signup_styles.css"> -->
    <title>Sign Up</title>
</head>

<body ng-controller="SignUpController">
	<div class="auth-box">
		<h2>Sign Up</h2>
		<form name="signUpForm" ng-submit ="preventIfInvalid($event)" action="/signup" method="POST"  novalidate autocomplete="off">
			<div class="user-box">
				<input type="text" ng-model="signup.username" name="username" ng-required="true" ng-pattern="/^(?![0-9]{6})[0-9a-zA-Z]{6,8}$/">
				<label>Username</label>
					<div ng-if="signUpForm.username.$touched && signUpForm.username.$invalid" class="error-invalid">
						{{msg_invalid_user}}
					</div>
			</div>
			<div class="user-box">
				<input type="password" ng-model="signup.password" name="password" ng-required="true" ng-pattern="/^(?![0-9]{6})[0-9a-zA-Z]{8,12}$/" >
				<label>Password</label>
				<div ng-if="signUpForm.password.$touched && signUpForm.password.$invalid" class="error-invalid">
					{{msg_invalid_password}}
				</div>
			</div>
			<div class="buttons-box" ng-class="{true: 'validSubmit',false: 'invalidSubmit'}[signUpForm.password.$valid && signUpForm.username.$valid]">
				<input type="submit" value="Sign Up" >
				<a href="/">Login</a>
			</div>
		</form>
	</div>
	
</body>
</html>